<div class="activity-fields-container">
  <%= f.text_field :activity_title, placeholder: 'Activity Title', class: 'activity-field-title' %>
  <%= f.text_field :description, placeholder: 'Description', class: 'activity-field-description' %>
  <%= f.text_field :duration, placeholder: 'Duration In Minutes', class: 'activity-field-duration' %>
</div>
